@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"),
    url("/fonts/Roboto-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  color: #ffffff;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(6, 6, 6, 1) 100%
  );
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: 0;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.container {
  width: 130rem;
  margin: 0 auto;
}

:root {
  --text-size-medium: 1.6rem;
}

.button {
  border-radius: 5rem;
  padding: 1rem 3rem;
  font-size: var(--text-size-medium);
  line-height: 150%;
  color: #ffffff;
}

.title {
  font-size: 4.8rem;
  line-height: 140%;
  font-weight: 700;
}

.header {
  padding: 4rem 11rem 4rem 8rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 10;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__nav a:not(:last-child) {
  margin-right: 7.1em;
}

.header__nav a {
  font-size: var(--text-size-medium);
  line-height: 150%;
}

.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}

.header__button {
  margin-left: 55.3rem;
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

.promo {
  margin-top: 27rem;
}

.promo .container {
  position: relative;
  z-index: 2;
  margin-bottom: 22.8rem;
}

.promo__title {
  max-width: 76rem;
  margin-bottom: 5rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 140%;
}

.promo__timer {
  display: flex;
  margin-bottom: 7.6rem;
}

.timer__item {
  width: 10.2rem;
  height: 11.2rem;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer__item:not(:last-child) {
  margin-right: 3rem;
}

.timer__item-count {
  font-size: 3.6rem;
  line-height: 140%;
  font-weight: 700;
}

.timer__item-text {
  font-size: var(--text-size-medium);
  line-height: 140%;
  opacity: 0.4;
}

.promo__button {
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
}

.promo__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.course {
  padding-top: 100px;
}

.course__wrap {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.course-button__wrap {
  display: flex;
  flex-shrink: 0;
  margin-right: 81px;
  justify-content: center;
}

.course__button {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
}

.course__counter {
  min-width: 251px;
  margin-right: 81px;
}

.course__counter-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.course__counter-line,
.course__progress-label {
  color: #ffffff40;
}

.course__progress-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 279px;
}

.course__number {
  font-weight: 700;
  color: #ffffff;
}

.course__progress {
  width: 100%;
}

.course__progress-element {
  width: 100%;
  position: relative;
}

/* Для реализации анимации */
.course__progress-element progress {
  transition: all 0.1s ease;
}

/* Убедимся, что прогресс бар виден при нулевом значении */
.course__progress-element progress:not([value]) {
  opacity: 0.5;
}

.course__progress-minmax {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff40;
}

progress,
progress[value],
progress:not([value]) {
  appearance: none;
  width: 100%;
  margin: 5px 0;
}

progress::-webkit-progress-bar {
  background: #ffffff;
  height: 6px;
}

progress::-webkit-progress-value {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  height: 6px;
}

progress {
  background: #ffffff;
  height: 6px;
}

progress::-moz-progress-value {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  height: 6px;
}

.work {
  padding-top: 20rem;
  padding-bottom: 24.3rem;
}

.work__wrapper {
  display: flex;
}

.work__img {
  width: 52.6rem;
  height: 54.2rem;
  margin-right: 13.9rem;
}

.work__title {
  margin-bottom: 4.5rem;
  padding-top: 6.9rem;
}

.work__text {
  font-size: var(--text-size-medium);
  line-height: 160%;
  max-width: 63.6rem;
}

.process {
  padding-bottom: 20rem;
}

.process__wrapper {
  position: relative;
}

.proccess__header {
  display: flex;
  align-items: center;
}

.process__logo {
  width: 12.7rem;
  height: 12.7rem;
  padding-right: 2rem;
  position: relative;
  left: -2.4rem;
}

.proccess__title {
  margin-bottom: 4.9rem;
}

.process__description {
  font-size: var(--text-size-medium);
  line-height: 160%;
  max-width: 41.1rem;
  opacity: 0.5;
  margin-bottom: 8rem;
}

.process__columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.process__columns::after {
  content: "";
  display: block;
  width: 130rem;
  height: 0.2rem;
  position: absolute;
  top: 34rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

.process__item {
  max-width: 30.6rem;
}

.process__work {
  font-size: 3.6rem;
  line-height: 140%;
  font-weight: 700;
  margin-bottom: 6.5rem;
}

.process__work-text {
  font-size: 1.4rem;
  line-height: 160%;
  opacity: 0.5;
}

.program {
  margin-bottom: 200px;
}

.program__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program__content::before {
  content: "";
  position: absolute;
  background-image: url("../img/line.png");
  width: 86px;
  height: 100%;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%);
}

.program-line {
  display: flex;
  justify-content: space-between;
  width: 750px;
}

.program-line__content:nth-child(n) {
  text-align: right;
}

.program-line__content:nth-child(2n) {
  text-align: left;
  margin-top: 76px;
}

.program__image {
  margin: 0 auto;
  width: 90px;
  margin-bottom: 76px;
  rotate: 135deg;
}

.program__header {
  text-align: center;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}

.program__description {
  max-width: 410px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff40;
  margin: 30px auto 80px auto;
}

.program-line__content {
  width: 304px;
  height: 115px;
}

.program-line__descr {
  height: 0;
  overflow: hidden;
}

.program-line__descr.active {
  height: auto;
  overflow: auto;
}

.program-line__title {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff40;
}

.program-line__descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.command {
  padding-bottom: 20rem;
}

.command__header {
  display: flex;
  align-items: center;
  margin-bottom: 11.3rem;
}

.command__header .process__logo {
  rotate: -45deg;
}

.command__teams {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.command__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 41.6rem;
}

.command__item-img {
  width: 19rem;
  height: 19rem;
  margin-bottom: 4rem;
  border-radius: 50%;
}

.command__item-name {
  font-size: 2.4rem;
  line-height: 140%;
  /* padding: 0 auto 1.5rem; */
  font-weight: 500;
}

.command__item-spec {
  font-size: var(--text-size-medium);
  line-height: 160%;
  margin-bottom: 3rem;
}

.command-item-link {
  border: 1px solid #ffffff;
}

.assembly {
  margin-bottom: 24.42rem;
}

.assembly__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.assembly__title {
  margin-bottom: 3rem;
}

.assembly__text {
  font-size: var(--text-size-medium);
  line-height: 160%;
  opacity: 0.5;
  margin-bottom: 4.52rem;
}

.assembly__button {
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
  margin-bottom: 4.08rem;
}

.assembly__social {
  display: flex;
}

.assembly__social-link {
  width: 5rem;
  height: 5rem;
  background-image: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assembly__social-link:not(:last-child) {
  margin-right: 3rem;
}

.assembly__img {
  width: 2.4rem;
  height: 2.4rem;
}

.modal {
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 11;
  padding: 3rem 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s ease;
}

.modal__inner {
  position: relative;
  width: 66.3rem;
  background-color: #2c2c2c;
  padding: 9rem 1rem;
  text-align: center;
}

.modal__title {
  margin-bottom: 1rem;
}

.modal__description {
  font-size: var(--text-size-medium);
  line-height: 160%;
  opacity: 0.5;
  margin: 0;
  margin-bottom: 2.8rem;
}

.modal__elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

.modal__input {
  width: 45.4rem;
  height: 4.4rem;
  border-radius: 5rem;
  background-color: rgba(256, 256, 256, 0.25);
  color: rgba(256, 256, 256, 0.8);
  font-size: 1.4rem;
  line-height: 140%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.modal__input:not(:last-child) {
  margin-bottom: 1.6rem;
}

.modal__button {
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
}

.modal__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.noscroll {
  overflow: hidden;
  height: 100%;
}
