@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  color: #ffffff;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(6, 6, 6, 1) 100%
  );
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: 0;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.container {
  width: 130rem;
  margin: 0 auto;
}

.button {
  border-radius: 5rem;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  line-height: 150%;
  color: #ffffff;
}

.title {
  font-size: 4.8rem;
  line-height: 140%;
  font-weight: 700;
}

.header {
  padding: 4rem 11rem 4rem 8rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 10;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__nav a:not(:last-child) {
  margin-right: 7.1em;
}

.header__nav a {
  font-size: 1.6rem;
  line-height: 150%;
}

.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}

.header__button {
  margin-left: 55.3rem;
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

.promo {
  margin-top: 27rem;
}

.promo .container {
  position: relative;
  z-index: 2;
  margin-bottom: 22.8rem;
}

.promo__title {
  max-width: 76rem;
  margin-bottom: 5rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 140%;
}

.promo__timer {
  display: flex;
  margin-bottom: 7.6rem;
}

.timer__item {
  width: 10.2rem;
  height: 11.2rem;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer__item:not(:last-child) {
  margin-right: 3rem;
}

.timer__item-count {
  font-size: 3.6rem;
  line-height: 140%;
  font-weight: 700;
}

.timer__item-text {
  font-size: 1.6rem;
  line-height: 140%;
  opacity: 0.4;
}

.promo__button {
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
}

.promo__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.work {
  padding-top: 20rem;
  padding-bottom: 24.3rem;
}

.work__wrapper {
  display: flex;
}

.work__img {
  width: 52.6rem;
  height: 54.2rem;
  margin-right: 13.9rem;
}

.work__title {
  margin-bottom: 4.5rem;
  padding-top: 6.9rem;
}

.work__text {
  font-size: 1.6rem;
  line-height: 160%;
  max-width: 63.6rem;
}

.process {
  padding-bottom: 20rem;
}

.process__wrapper {
  position: relative;
}

.proccess__header {
  display: flex;
  align-items: center;
}

.process__logo {
  width: 12.7rem;
  height: 12.7rem;
  padding-right: 2rem;
  position: relative;
  left: -2.4rem;
}

.proccess__title {
  margin-bottom: 4.9rem;
}

.process__description {
  font-size: 1.6rem;
  line-height: 160%;
  max-width: 41.1rem;
  opacity: 0.5;
  margin-bottom: 8rem;
}

.process__columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.process__columns::after {
  content: "";
  display: block;
  width: 130rem;
  height: 0.2rem;
  position: absolute;
  top: 34rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

.process__item {
  max-width: 30.6rem;
}

.process__work {
  font-size: 3.6rem;
  line-height: 140%;
  font-weight: 700;
  margin-bottom: 6.5rem;
}

.process__work-text {
  font-size: 1.4rem;
  line-height: 160%;
  opacity: 0.5;
}

.command {
  padding-bottom: 20rem;
}

.command__header {
  display: flex;
  align-items: center;
  margin-bottom: 11.3rem;
}

.command__header .process__logo {
  rotate: -45deg;
}

.command__teams {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.command__item {
  display: flex;
  flex-direction: column;
  width: 41.6rem;
  align-items: center;
}

.command__item-img {
  width: 19rem;
  height: 19rem;
  margin-bottom: 4rem;
  border-radius: 50%;
}

.command__item-name {
  font-size: 2.4rem;
  line-height: 140%;
  padding: 0 auto 1.5rem;
}

.command__item-spec {
  font-size: 1.6rem;
  line-height: 160%;
  margin-bottom: 3rem;
}

.command-item-link {
  border: 1px solid #ffffff;
}

.assembly {
  margin-bottom: 24.42rem;
}

.assembly__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.assembly__title {
  margin-bottom: 3rem;
}

.assembly__text {
  font-size: 1.6rem;
  line-height: 160%;
  opacity: 0.5;
  margin-bottom: 4.52rem;
}

.assembly__button {
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
  margin-bottom: 4.08rem;
}

.assembly__social {
  display: flex;
}

.assembly__social-link {
  width: 5rem;
  height: 5rem;
  background-image: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assembly__social-link:not(:last-child) {
  margin-right: 3rem;
}

.assembly__img {
  width: 2.4rem;
  height: 2.4rem;
}
